.politik{
    &__title{
        font-family: 'PanText' , sans-serif;
        font-weight: 600;
        font-size: 52px;
        color: #000;
        line-height: 62px;
    }

    &__subTitle{
        font-family: 'PanText' , sans-serif;
        font-weight: 700;
        font-size: 15px;
        line-height: 23px;
        color: #1b1b1b;
    }

    &__text{
        font-family: 'PanText' , sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 23px;
        color: #1b1b1b;
    }

    &__link{
        font-family: 'PanText' , sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 23px;
        color: #262626;
        text-decoration: underline;
    }
}