@import "/header/header";
@import "/footer/footer";
@import "/respons";
@import '/component/components';
@import '/scss/varible';
@font-face {
    font-family: 'PanText';
  /*  src: url(../font/PanText-Light.woff2);*/
    src: url(~/font/PanText-Light.woff2);
    font-weight: 100;
}

@font-face {
    font-family: 'PanText';
    /*src: url(../font/PanText-Regular.woff2);*/
    src: url(~/font/PanText-Regular.woff2);
    font-weight: 200;
}

@font-face {
    font-family: 'PanText';
   /* src: url(../font/PanText-Bold.woff2);*/
    src: url(~/font/PanText-Bold.woff2);
    font-weight: 300;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteniar,
.full-conteniar {
    margin: 0 auto;
}

.full-conteniar {
    width: 90%;
}

img{
    width: 100%;
    height: 100%;
}


a {text-decoration: none; }

body{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
h6, p, body, a {
    font-family:'PanText ' , sans-serif ;
}

[type=checkbox], [type=radio]{
    cursor: pointer;
}
.spacingSize{
    margin-bottom: 170px;


   

    @media screen and (max-width:900px) {
        margin-bottom: 120px;
    }

    @media screen and (max-width:1300px) {
        margin-bottom: 200px;
    }

    
}

