@import './payBasketLeftSide';
@import './payBasketRightSide';

.payBasket {
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: auto;
    justify-content: center;
}

